<table class="results-table">
  <thead>
    <tr>
      <th>Selection Algorithm</th>
      <th class="r col-scratch" data-col="scratch"></th>
      <th class="r col-distilled" data-col="distilled"></th>
      <th class="r col-pretrained" data-col="pretrained"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="method">No synthetic</td>
      <td class="r col-scratch" data-col="scratch">44.36 <span class="pm">± 1.51</span></td>
      <td class="r col-distilled" data-col="distilled">47.33 <span class="pm">± 0.57</span></td>
      <td class="r col-pretrained" data-col="pretrained">63.40 <span class="pm">± 1.33</span></td>
    </tr>

    <tr>
      <td class="method">Center matching</td>
      <td class="r col-scratch" data-col="scratch">53.46 <span class="pm">± 1.95</span></td>
      <td class="r col-distilled" data-col="distilled">57.67 <span class="pm">± 0.58</span></td>
      <td class="r col-pretrained" data-col="pretrained">66.52 <span class="pm">± 0.81</span></td>
    </tr>

    <tr>
      <td class="method">Center sampling</td>
      <td class="r col-scratch" data-col="scratch">50.15 <span class="pm">± 1.79</span></td>
      <td class="r col-distilled" data-col="distilled">56.05 <span class="pm">± 0.65</span></td>
      <td class="r col-pretrained" data-col="pretrained">65.38 <span class="pm">± 0.98</span></td>
    </tr>

    <tr>
      <td class="method">DS3</td>
      <td class="r col-scratch" data-col="scratch">54.15 <span class="pm">± 2.17</span></td>
      <td class="r col-distilled" data-col="distilled"><strong>59.43</strong> <span class="pm">± 0.73</span></td>
      <td class="r col-pretrained" data-col="pretrained">66.00 <span class="pm">± 0.94</span></td>
    </tr>

    <tr>
      <td class="method">K-means</td>
      <td class="r col-scratch" data-col="scratch">51.63 <span class="pm">± 1.29</span></td>
      <td class="r col-distilled" data-col="distilled">56.77 <span class="pm">± 0.89</span></td>
      <td class="r col-pretrained" data-col="pretrained">65.23 <span class="pm">± 0.61</span></td>
    </tr>

    <tr>
      <td class="method">Random</td>
      <td class="r col-scratch" data-col="scratch">51.26 <span class="pm">± 1.96</span></td>
      <td class="r col-distilled" data-col="distilled">55.27 <span class="pm">± 0.74</span></td>
      <td class="r col-pretrained" data-col="pretrained">65.24 <span class="pm">± 1.01</span></td>
    </tr>

    <tr>
      <td class="method">Text matching</td>
      <td class="r col-scratch" data-col="scratch">51.20 <span class="pm">± 1.82</span></td>
      <td class="r col-distilled" data-col="distilled">56.08 <span class="pm">± 0.57</span></td>
      <td class="r col-pretrained" data-col="pretrained">65.93 <span class="pm">± 0.59</span></td>
    </tr>

    <tr>
      <td class="method">Text sampling</td>
      <td class="r col-scratch" data-col="scratch">50.31 <span class="pm">± 1.70</span></td>
      <td class="r col-distilled" data-col="distilled">55.79 <span class="pm">± 0.68</span></td>
      <td class="r col-pretrained" data-col="pretrained">64.93 <span class="pm">± 1.12</span></td>
    </tr>

    <tr class="is-ours">
      <td class="method">
        Covariance matching <span class="tag-ours">Ours</span>
      </td>
      <td class="r col-scratch" data-col="scratch"><strong>54.45</strong> <span class="pm">± 2.11</span></td>
      <td class="r col-distilled" data-col="distilled">59.17 <span class="pm">± 0.64</span></td>
      <td class="r col-pretrained" data-col="pretrained"><strong>66.69</strong> <span class="pm">± 0.70</span></td>
    </tr>

    <tr class="is-upper">
      <td class="method">Real upper bound</td>
      <td class="r col-scratch" data-col="scratch">61.08 <span class="pm">± 2.54</span></td>
      <td class="r col-distilled" data-col="distilled">65.38 <span class="pm">± 0.51</span></td>
      <td class="r col-pretrained" data-col="pretrained">74.35 <span class="pm">± 0.56</span></td>
    </tr>
  </tbody>
</table>
